/* колір WEB, Focused, Active states Links; background кнопки #4D5AE5  */
:root { --brand-color: #4D5AE5;
    --background: #2E2F42; 
    --zagolovok: #2E2F42;
        /* колір тексту    */
    --text: #434455;
    --studio: #F4F4FD;
        /*  текст підвал                  #E7E9FC  */ 
    --accent: #E7E9FC;

    --margin-left: 24px;
    --margim-top-botton-h3p: 32px;
    --margin-top-p: 8px;
}


body {   background-color: #FFFFFF; color: var(--text);   
    font-family: 'Roboto', sans-serif; font-style: normal; letter-spacing: 0.02em;}
.list { list-style: none;
}
h1, h2, h3, h4, p, ul, li { margin: 0px; 
    padding: 0;
}

/* кнопки, зсилки */
.logo-footer, .logo {text-decoration-line:none}
.link {text-decoration-line:none; font-family: inherit;}
.link:hover {color: var(--brand-color); text-decoration-line: none; background-color: #FFFFFF}
.link:focus { color: var(--brand-color); background-color: #FFFFFF}

.container {    width: 1158px; 
    margin-left:  auto; 
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    
}
.section { padding-top: 120px;
padding-bottom: 120px;}
img {
    display: block;
    max-width: 100%;
}

/* Хедер */
.logo-web {color: var(--brand-color);}
.logo  {color: var(--zagolovok);
    font-family: 'Raleway', sans-serif; 
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;

}

.nav-link {color: var(--zagolovok); 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;}
.auth-nav {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    display: flex;
    margin-left: 291px;
}
.auth-nav > li {margin-left: 40px;
}
.auth-list { color: var(--text);
}
.navigation { display: flex;
    margin-left: 37px;

    
}
.navigation > li { margin-left: 40px;
}

.nav-heder { display: flex; 
padding-top: 24px;
padding-bottom: 24px;
} 
header {box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}


/* section-hero */

.section-hero {background-color: var(--background);}
.hero-title {color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    width: 492px;    
    margin-left: auto;
    margin-right: auto;
}
.sec-hero-button {background-color: var(--brand-color); color: #FFFFFF; cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;

    width: 170px;
    

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;}
.sec-hero-button:hover { box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;}
.sec-hero-button:focus { background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.cont-hero{padding:  72px 192px 72px 192px; 
    text-align: center;
} 

/* section-workmeth */

.visually-hidden {position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}    
.section-title {color: var(--zagolovok);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;

    margin-left: auto;
    margin-right: auto;
}
.section-title-h3 {color:  var(--zagolovok);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}
.text {font-size: 16px;
    line-height: 1.5;
}
.work-met-div { display: flex;
}
.work-met-div > li { margin-left: var(--margin-left)}
.work-met-div > li:first-child {margin-left: 0px;}
.sec-workmeth-ul{margin-top: 8px;}

/* section-doing */
.doing-list{ display: flex;}
.text-center { text-align: center;
}
.section-title{margin-bottom: 72px;    }

/* section-ourteam */
.section-ourteam {background: var(--studio);}
.sec-ourteam {background-color: #FFFFFF; 
    width: 264px;
   
}

.sec-ourteam-li {display: flex;
    text-align: center;
}

/* footer*/
footer {
    background-color: var(--background);}
.footer-text{color: var(--accent);
    font-size: 16px;
    line-height: 1.5;

    width: 264px;    }
.logo-footer{color: var(--studio); 
    font-family: 'Raleway', sans-serif; 
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
}
.cont-footer { padding: 100px 0px;}

/* ___________________________________portfolio main____________________________*/
.filtr {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;

    display: flex;
    justify-content: center;
   
}

.filtr-button {background-color: var(--studio); color: var(--brand-color); 
    border: 1px solid #E7E9FC; border-radius: 4px;
    text-decoration-line:none;
    
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    margin-left: var(--margin-left);
    padding: 12px 24px;
}

.filtr-button:hover { background-color: #4D5AE5; color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;}
.filtr-button:focus {background-color: #4D5AE5; color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;}
.filtr-button.active {background-color: #4D5AE5; color: #FFFFFF;}
.filtr-div { margin-top: 96px;
margin-bottom: 24px;}

/* progect-card */

.portfolio-progect-card {box-sizing: border-box; 
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    
    
    margin-left: var(--margin-left);
    margin-top: 48px;
    flex-basis: calc(100%/3- var(--margin-left)  );
    flex-grow: 1;
    
}
.portfolio-title {color: var(--zagolovok);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;

    margin-top: var(--margim-top-botton-h3p);
    margin-left: 16px;
}
.filtr-text { color:  var(--text);
    font-size: 16px;
    line-height: 1.5;

    margin-top: var(--margin-top-p);
    margin-left: 16px;
    margin-bottom: var(--margim-top-botton-h3p);
}
.portf-link {text-decoration-line:none}
.portfolio-text {color: var(--studio); 
    width: 296px;
}
.portfolio-works {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1*var(--margin-left)) ;
    outline: solid red;
}
.portfolio-works > li {flex-basis: calc(100%/3- var(--margin-left)  );
    flex-grow: 1;}
.portfolio-img {max-width: 100%;}